<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/cssbundle")
    @Scripts.Render("~/Scripts/jquerybundle")
    @Scripts.Render("~/Scripts/bootstrapbundle")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
