@model M2.DeveloperTest.Entities.Participant

@{
    ViewBag.Title = "Participant Details";
}
<h2>Participant Details</h2>
    <div>
        @Html.LabelFor(model => model.FirstName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.LastName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.Gender, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Gender, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.AddressLine1, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.AddressLine2, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.City, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.City, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.State, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.State, string.Empty, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.Zip, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Zip, new { @class = "form-control", @readonly = true })
        </div>
    </div>
    <div>
        @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = true })
        </div>
    </div>

@Html.ActionLink("Index", "Index", "Participant")